* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(#020617 50%, #0F172A 50%);
}

#container {
    min-width: 300px;
    max-width: 640px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #334155;
    
}

#campo-busca {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
}

#texto-busca {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #64748b;
    border-radius: 5px;
    background-color: inherit;
    color: #fff;
}

#texto-busca:focus {
    outline: none;
}

#botao-busca {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #fcd34d;
}

#botao-busca:active {
    background-color: #fef08a;
}

/* Filme */

#filme {
    
    color: #cbd5e1;
}

#filmes-encontrados {
    display: none;    
}

#lista-filmes-encontrados {
    list-style-type: none;
}

#lista-filmes-encontrados li {
    margin: 10px 0;
}

#lista-filmes-encontrados li:hover {
    background-color: #94A3B8;
    color:#facc15;
    cursor: pointer;
}

#lista-filmes-encontrados li a {
    text-decoration: none;
    color: inherit;
}

#filme h1, h2, h3, h4 {
    color: #fff;
}

i {
    color: #facc15;
}

#titulo-filme {
    display: none; /* flex */
    flex-wrap: wrap;
}

#poster {
    flex-shrink: 3;
    height: 200px;
    margin: auto;
}

#detalhes-filme {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

#descricao-filme {
    display: none; /* block */
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
    font-size: .7em;
    text-align: center;
    color: white;
}

@media (min-width: 640px) {
    #titulo-filme {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between; 
    }

    #poster {
        width: 50%;
        height: 200px;
        margin: auto;
        text-align: left;
    }
}